/*
Base is for standard things that don't change from project to project
*/

/* allows for smooth scrolling to in-page links */
html {
    scroll-behavior: smooth;
}

/*
Uses The New (lighter) css reset found here: 
*/

/***
    The new CSS reset - version 1.11.1 (last updated 24.10.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
	all: revert;
	box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
	-webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
	all: revert;
	box-sizing: border-box;
}


/* ::: WordPress ::::::::::::::::::::::::::::::::::::::::: */
	
	// WordPress WYSIWYG alignment -- when you put in images that span the entire width of the content area remove the width and height
	img.aligncenter.size-full {
		max-width: 100%;
		display: block;
		margin: 5px auto;
	}
    img.alignright.size-full {
    	padding: 4px;
    	margin: 0 0 2px 15px;
    	display: inline;
    	@include respond-to(tablet) {
    		max-width: 40%;
    	}
    	max-width: 100%;
    }
    img.alignleft.size-full {
    	padding: 4px;
    	margin: 0 15px 2px 0;
    	display: inline;
    	@include respond-to(tablet) {
    		max-width: 40%;
    	}
    	max-width: 100%;
    }
    .alignright {
    	float: right;
    }
	.alignleft {
		float: left;
	}
	.aligncenter {
		text-align: center;
	}
	.flush-margin {
		margin: 0 !important;
	}



/* ::: WARNINGS ::::::::::::::::::::::::::::::::::::::::: */

	.sys { text-align: left }
	.warn {}

	// Show-Hide
	.make-link {
		text-decoration: none;
		margin-bottom: .5em;
	}
	.make-link:hover,
	.make-link:focus,
	.make-link:active {
		cursor: pointer;
 	}
 	ul.hide {
 		margin: 0 0 0 1em !important;
 		padding: 0 !important;
 	}

	// Adds plus and minus signs to header -- could be changed for other icons using an icon font - overwrite in the site.scss file
	.header-shown:before { content: "-"; margin-right: .5em; }
	.header-hidden:before { content: "+"; margin-right: .5em; }
	
	// Indicators
	.indicator {
		position: absolute;
		z-index: 100;
		text-align: center;
		left: 0;
		top: 15em;
		-webkit-transform: rotate(90deg);
    	-webkit-transform-origin: left bottom;
	    -moz-transform: rotate(90deg);
	    -moz-transform-origin: left bottom;
	    -ms-transform: rotate(90deg);
	    -ms-transform-origin: left bottom;
	    -o-transform: rotate(90deg);
	    -o-transform-origin: left bottom;
	    transform: rotate(90deg);
	    transform-origin: left bottom;
	}
	.indicator a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        padding: .3em 1em;
    }
	.indicator a:hover, .indicator a:focus, .indicator a:active {
        text-decoration: none;
        cursor: pointer;
    }

	// Hide these items when Javascript is active
	.js .js-ind, .js .hide { display: none; }



/* ::: LISTS ::::::::::::::::::::::::::::::::::::::::: */


	.content-main ul {
		margin-left: 1em;
		@include respond-to(tablet) {
			margin-left: 2em;
		}
		margin-top: 1em;
		margin-bottom: 1.5em;
		li {
			margin: 0 2em .2em 0;
			list-style-type: square;
		}
		ul {
			margin: .5em 2em .8em 1em;
			li {
				list-style-type: circle;
				margin: 0 2em .5em 1em;
			}
		}
	}

	.content-main dl {
		margin: 2em 0;
		dt {
			margin-top: 1.5em;
			margin-bottom: .5em;
            padding-left: 0;
		}
	}

	.content-main ol {
		margin-left: 1em;
		@include respond-to(tablet) {
			margin-left: 2em;
		}
		li {
			margin-bottom: 1em;
		}
		ol {
			list-style-type: lower-alpha;
			margin: .2em 2em .8em 2em;
		}
	}

	// Horizontal List
	.horiz-list {
		@include respond-to(tablet) {
			list-style-type: none;
			display: inline-block;
			width: 100%;
			a {
				display: block;
				padding: 1em;
			}
			ul {
				display: inline-block;
			}
			li {
				display: block;
				width: 100%;
				@include respond-to(tablet) {
					display: inline-block;
					width: auto;
				}
			}
		}
	}

	// Lists Without Bullets
	ul.no-bullet {
		margin-left: 0;
		list-style-type: none;
	}
	ul.no-bullet li {
		margin-bottom: .5em;
	}

	// Link Lists
	ul.link-list li {
		list-style-type: none;
	}
	li.link-list a, ul.link-list li a {
		display: block;
		padding-left: 20px;
		margin-left: 20px;
	}

	// PDF Lists
	ul.pdf-link {
		padding-left: 20px;
		margin-left: 5px;
	}
	ul.pdf-list li {
		list-style-type: none;
	}
	li.pdf-list a, ul.pdf-list li a {
		display: block;
		padding-left: 20px;
		margin-left: 20px;
	}

 

 /* ::: Misc ::::::::::::::::::::::::::::::::::::::::: */

	// Code
 	pre {
 		overflow: scroll;
 		padding: 1em 2em;
 		border-radius: .5em;
 	}

 	// This is used for the sticky header
	.fixed {
	    position: fixed !important;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 999;
	    margin-top: 0 !important;
	}

	// FitVid CSS
	.fitvid {
	    position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    overflow: hidden;
	}
	.fitvid iframe, .fitvid object, .fitvid embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}