//::: COLOR REFERENCE :::::::::::::::::::::::::::::

$light-blue: #CAF3FF;
$blue: #39C;
$tan: #EBDBBD;
$orange: #FC0;
$cream: #F9F4EB;
$dark-grey: #333;

$white: #FFF;
$black: #000;
$black-50: rgba(0,0,0,.50);



//::: COLOR ASSIGNMENT :::::::::::::::::::::::::::::

	// Page
	$page-bkg: $cream;
	$page-txt: $dark-grey;

	// Links
	$link-default-off: $blue;
	$link-default-on: $black;

	// Borders
	$borders: $dark-grey;

	// Header
	$header-bkg: $cream;