//::: COLOR REFERENCE :::::::::::::::::::::::::::::

// A few default color values that all sites should have
$white: #FFF;
$black: #000;
$black-50: rgba(0,0,0,.50);

// Define your color values here, these are placeholders

$orange: #F60;
$orange-50: rgba(255,102,0,.50);
$orange-70: rgba(255,102,0,.70);
$lighter-grey: #EEE;
$light-grey: #CCC;
$grey: #666;
$dark-grey: #333;


//::: ELEMENTS :::::::::::::::::::::::::::::

	// set the colors on the page
	html {
		background: $white;
		color: $dark-grey;
	}

	body {
		background: $white;
		color: $dark-grey;
	}

	th {
		background-color: $black;
		color: $white;
	}
	td {
		border-bottom: 1px dotted $light-grey;
	}

	/*--- Links ---*/

	a:link, a:visited { color: $orange; }
	a:hover, a:active, a:focus { color: $black; }
	
	// Show-Hide

		.make-link {
			color: $orange;
		}
		.make-link:hover,
		.make-link:focus,
		.make-link:active {
			color: $black;
		}

	.indicator a {
		background-color: $orange;
	}

	input, textarea, select {
		background: $lighter-grey;
		color: $dark-grey;
	}



/* ::: COLORED SECTIONS ::::::::::::::::::::::::::::::::: */
// Colors are added based on background

	
	// BLACK SECTION
	.black-section {
		// add colors
	}

	// ORANGE SECTION

	.orange-section {
		
		background-color: $orange;
		color: $black;

		a {
			&:link, &:visited {
				color: $orange-50;
			}
			&:hover, &:focus, &:active {
				color: $black;
			}
		}

		input[type='text'], input[type='email']  {
			@include placeholder {
				color: $orange-70;
			}
			&:hover, &:active {
				@include placeholder {
					color: $white;
				}
			}
			&:focus {
				color: $black;
				background-color: $black-50;
				@include placeholder {
					color: $black;
				}	
			}
		}

		input[type='submit'], .button {
			&:link, &:visited {
				background-color: $black;
				color: $orange;
			}
			&:hover, &:focus, &:active {
				background-color: $black-50;
				color: $orange;
			}
		}
	}



/* ::: CLASSES ::::::::::::::::::::::::::::::::: */

// example of how to make classes you can use inline in your html
	.orange { color: $orange; }
