//::: COLOR REFERENCE :::::::::::::::::::::::::::::

// A few default color values that all sites should have
$white: #FFF;
$black: #000;
$black-50: rgba(0,0,0,.50);
$light-grey: #CCC;
$grey: #666;
$dark-grey: #333;

// Define your color values here, these are placeholders

$orange: #F60;
$cream: #F9F4EB;





//::: COLOR ASSIGNMENT :::::::::::::::::::::::::::::

// Assign these based on the colors defined above

	// Page
	$page-bkg: $cream;
	$page-txt: $dark-grey;

	// Links
	$link-default-off: $orange;
	$link-default-on: $black;

	// Buttons
	$button-bkg-off: $orange;
	$button-bkg-on: $black;
	$button-txt-off: $white;
	$button-txt-on: $white;

	// Borders
	$borders: $dark-grey;

	// Header
	$header-bkg: $cream;

	// Forms

		//general
		$form-bkg-off: $black;
		$form-bkg-on: $orange;
		$form-txt-off: $white;
		$form-txt-on: $black;

		//placeholders
		$form-placeholder-off: $grey;
		$form-placeholder-on: $light-grey;

		//buttons
		$btn-bkg-off: $black;
		$btn-bkg-on: $orange;
		$btn-txt-off: $orange;
		$btn-txt-on: $black;



/* ::: COLORED SECTIONS ::::::::::::::::::::::::::::::::: */

// add this class to a section of the page that you want to change to have a certain background color
// this is just here to show you how to make a re-usable class for big sections of the site that change colors

	.orange-section {
		background: $orange;
		color: $black;
		a {
			&:link, &:visited {
				color: $black;
			}
			&:hover, &:focus, &:active {
				color: $black-50;
			}
		}
		.button {
			&:hover, &:focus, &:active {
				background: $black-50;
				color: $orange;
			}
		}
	}



/* ::: CLASSES ::::::::::::::::::::::::::::::::: */

// example of how to make classes you can use inline in your html
	.orange { color: $orange;}
