//::: COLOR REFERENCE :::::::::::::::::::::::::::::

// A few default color values that all sites should have
$white: #FFF;
$black: #000;
$black-50: rgba(0,0,0,.50);

// Define your color values here, these are placeholders
$orange: #F60;
$lighter-grey: #EEE;
$light-grey: #CCC;
$grey: #666;
$dark-grey: #333;



//::: ELEMENTS ::::::::::::::::::::::::::::::::::::

	// set the colors on the page
	html {
		background: $white;
		color: $dark-grey;
	}
	body {
		background: $white;
		color: $dark-grey;
	}

	// Customize the look of selected text -- feel free to change the colors
	::-moz-selection { // Mozilla
       background-color: $black;
       color: $white;
	}
	::selection { // Safari
       background-color: $black;
       color: $white;
	}


	.data-table {
		th {
			background-color: $black;
			color: $white;
		}
		td {
			border-bottom: 1px dotted $light-grey;
		}
	}

	// Links
	a:link, a:visited { color: $orange; }
	a:hover, a:active, a:focus { color: $black; }
	
	// Show-Hide
	.make-link {
		color: $orange;
	}
	.make-link:hover,
	.make-link:focus,
	.make-link:active {
		color: $black;
	}
	
	.indicator a {
		background-color: $orange;
	}

	input, textarea, select {
		background: $lighter-grey;
		color: $dark-grey;
	}
	.indicator a:link, .indicator a:visited {
        color: $white;
        background-color: $grey;
    }
	.indicator a:hover, .indicator a:focus, .indicator a:active {
        color: $white;
        background-color: $black;
        text-decoration: none;
        cursor: pointer;
    }


/* ::: COLORED SECTIONS ::::::::::::::::::::::::::::::::: */
// Colors schemes are established based on background
    	

	// ORANGE AREA - CHANGE TO WHATEVER COLORS YOU NEED AND ADD MORE SECTIONS LIKE THIS WHEN NEEDEDS
	.orange-area {
        background-color: $orange;
		color: $white;
		a {
			&:link, &:visited {
				color: $white;
			}
			&:hover, &:focus, &:active {
				color: $white;
			}
		}
		input[type='text'], input[type='email']  {
			@include placeholder {
				color: $black;
			}
			&:hover, &:active {
				@include placeholder {
					color: $black;
				}
			}
			&:focus {
				color: $black;
				background-color: $black-50;
				@include placeholder {
					color: $black;
				}	
			}
		}
		input[type='submit'], .button {
            background: $black;
            color: $white;
            &:link, &:visited {
				color: $white;
                background: $black;
			}
			&:hover, &:focus, &:active {
				color: $black;
                background: $white;
			}
		}
	} // END: Orange Area

	// WHITE AREA
	.white-area { // need to tweak these colors, they're all messy
		
		background-color: $white;
		color: $dark-grey;

		a {
			&:link, &:visited {
				color: $orange;
			}
			&:hover, &:focus, &:active {
				color: $black;
			}
		}

		input[type='text'], input[type='email']  {
			@include placeholder {
				color: $orange;
			}
			&:hover, &:active {
				@include placeholder {
					color: $black;
				}
			}
			&:focus {
				color: $black;
				background-color: $black-50;
				@include placeholder {
					color: $black;
				}	
			}
		}

		input[type='submit'], .button {
            &:link, &:visited {
				color: $white;
                background: $orange;
			}
			&:hover, &:focus, &:active {
				color: $white;
                background: $black;
			}
		}
        .validation_error {
            background: $orange;
            color: $white;
        }
        .validation_message {
            border-top: 2px solid $orange;
            color: $orange;
        }
        
        // Tags
        a[rel="tag"],
        .tags a {
            background: $lighter-grey;
            &:link, &:visited {
                text-decoration: none;
                font-color: dark-grey;
            }
            &:hover, &:active, &:focus {
                background: $orange;
                color: $white;
            }
        }
        
	} // END: White Area




/* ::: CLASSES ::::::::::::::::::::::::::::::::: */

// example of how to make classes you can use inline in your html
	.orange { color: $orange; }
