/*

FORMS

*/


/* ::: ELEMENTS ::::::::::::::::::::::::::::::::::::::::: */
		
	input, textarea, select {
		border: 0;
		outline: none;
		font-size: 1em;
		font-weight: 100;
		vertical-align: middle;
		padding: .7em 1em;
	}

	input[type='text'], input[type='email']  {
		width: 100%;
		@include transition (all .3s ease-in-out);
		@include placeholder {
			@include transition (all .3s ease-in-out);
		}
	}
	select {
		height: 2.7em;
		width: 100%;
	}
	textarea {
		width: 100%;
	}

	input[type='submit'], .button {
		border-radius: .5em;
		padding: .5em 1em;
		&:link, &:visited {
			text-decoration: none;
			@include transition (all .3s ease-in-out);
		}
		&:hover, &:focus, &:active {
			text-decoration: none;
			cursor: pointer;
		}
	}
	.button.toggle {
		display: inline-block;
		border-bottom: 0;
		&:before { // remove the +- from toggle if it's a button
			display: none;
		}
	}


// the styles below are only relevant if you use gravity forms or a mailchimp email signup, so feel free to remove them


/* ::: GRAVITY FORMS ::::::::::::::::::::::::::::::::::::::::: */


	.gform_body {
		ul {
			list-style-type: none;
			margin: 0;
			margin-top: 1em;
			li {
				margin-bottom: .5em;
			}
		}	
	}

	li.gfield {
		list-style-type: none !important;
	}



/* ::: MAILCHIMP EMAIL SIGNUP ::::::::::::::::::::::::::::::::::::::::: */

	#mc-embedded-subscribe-form {
		.mc-field-group { margin-bottom: .5em; }
	}

	