/*
FORMS
*/



/* ::: ELEMENTS ::::::::::::::::::::::::::::::::::::::::: */

	input, textarea, select {
		border: 0;
		outline: none;
		font-size: 1em;
		font-weight: 100;
		vertical-align: middle;
		padding: .7em 1em;
		@include sans();
	}
	input[type='text'], input[type='url'], input[type='file'], input[type='tel'], input[type='email'], textarea, select {
		width: 100%;
		border-radius: .2em;
		@include transition (all .3s ease-in-out);
		@include placeholder {
			@include transition (all .3s ease-in-out);
		}
	}
	select {
		height: 2.7em;
		width: 100%;
	}
	input[type='submit'], .button {
    	-webkit-appearance: none; // removes the default styling that gets applied by ios
    	-moz-appearance: none; // removes the default styling that gets applied by ios
		border-radius: .5em;
        white-space: nowrap; // helps stack buttons nicely vertically
		text-decoration: none;
        border: none;
        outline: none;
        padding: 1.2em 3em;
        vertical-align: middle;
        border-radius: .5em;
        text-transform: uppercase;
		@include transition (all .3s ease-in-out);
		&:hover, &:focus, &:active {
			text-decoration: none;
			cursor: pointer;
		}
	}
	.button.toggle {
		display: inline-block;
		border-bottom: 0;
		&:before { // remove the +- from toggle if it's a button
			display: none;
		}
	}



/* ::: GRAVITY FORMS ::::::::::::::::::::::::::::::::::::::::: */
// the styles below are only relevant if you use gravity forms or a mailchimp email signup, so feel free to remove them

	.gform_body {
		ul {
			list-style-type: none;
			margin: 0;
			margin-top: 1em;
			li {
				margin-bottom: .5em;
			}
		}
	}
	li.gfield {
		list-style-type: none !important;
	}
	.gfield_label {
		margin-top: 1.5em;
		display: block;
	}
    .validation_error {
        background: $orange;
        color: $white;
        margin: .5em;
		padding: 1.5em 1em;
		font-weight: bold;
    }
    .validation_message {
        border-top: 2px solid $orange;
        color: $orange;
        margin: .5em;
        margin-bottom: 2em;
		padding-top: .5em;
		font-weight: bold;
        clear: both;
    }
	.gform_footer {
		margin-top: 1em;
	}
	.white-area {
		.validation_message {
			color: red;
			border-top: .2em solid red;
		}
		.validation_error {
			color: white;
			background-color: red;
		}
	}



/* ::: MAILCHIMP EMAIL SIGNUP ::::::::::::::::::::::::::::::::::::::::: */

	#mc-embedded-subscribe-form {
		.mc-field-group { margin-bottom: .5em; }
	}
