/*
FORMS
*/


/* ::: ELEMENTS ::::::::::::::::::::::::::::::::::::::::: */

	input, textarea, select {
		border: 0;
		outline: none;
		font-size: 1em;
		font-weight: 100;
		vertical-align: middle;
		padding: .7em 1em;
	}
	input[type='text'], input[type='url'], input[type='file'], input[type='email'], textarea, select {
		width: 100%;
		border-radius: .2em;
		@include transition (all .3s ease-in-out);
		@include placeholder {
			@include transition (all .3s ease-in-out);
		}
		@include breakpoint(medium) {
			width: 70%;
		}
		@include breakpoint(large) {
			width: 92%;
		}
	}
	select {
		height: 2.7em;
		width: 100%;
	}
	input[type='submit'], .button {
		border-radius: .5em;
		padding: .5em 1em;
		text-decoration: none;
		@include transition (all .3s ease-in-out);
		&:hover, &:focus, &:active {
			text-decoration: none;
			cursor: pointer;
		}
	}
	.button.toggle {
		display: inline-block;
		border-bottom: 0;
		&:before { // remove the +- from toggle if it's a button
			display: none;
		}
	}



/* ::: GRAVITY FORMS ::::::::::::::::::::::::::::::::::::::::: */
// the styles below are only relevant if you use gravity forms or a mailchimp email signup, so feel free to remove them

	.gform_body {
		ul {
			list-style-type: none;
			margin: 0;
			margin-top: 1em;
			li {
				margin-bottom: .5em;
			}
		}
	}
	li.gfield {
		list-style-type: none !important;
	}
	.validation_message {
		margin-top: -1.5em;
		margin-bottom: 2em;
		padding-top: .5em;
		font-weight: bold;
	}
	.validation_error {
		@include medium-type();
		padding: 1.5em 1em;
		border-radius: .2em;
		font-weight: bold;
	}
	.white-area {
		.validation_message {
			color: red;
			border-top: .2em solid red;
		}
		.validation_error {
			color: white;
			background-color: red;
		}
	}




/* ::: MAILCHIMP EMAIL SIGNUP ::::::::::::::::::::::::::::::::::::::::: */

	#mc-embedded-subscribe-form {
		.mc-field-group { margin-bottom: .5em; }
	}
