/*
MIXINS
*/

/* ::: BREAKPOINT MIXIN ::::::::::::::::::::::::::::::::::::::::: */
/* by real life cat: Kitty Giraudel  */
/* https: //www.sitepoint.com/managing-responsive-breakpoints-sass/ */

	// you can add as many as you like with max or min...
	$breakpoints: (
		'mobile' : (max-width: 375px)
		'tablet' : (min-width: 600px),
		'laptop' : (min-width: 900px),
		'desktop' : (min-width: 1200px),
		'bigscreen' : (min-width: 1800px)
	);

	@mixin respond-to($name) {

		// If the key exists in the map
		@if map-has-key($breakpoints, $name) {

			// Prints a media query based on the value
			@media #{inspect(map-get($breakpoints, $name))} {
				@content;
			}
		}

		// If the key doesn't exist in the map
		@else {
			@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			+ "Please make sure it is defined in `$breakpoints` map.";
		}
	}