}

// alert shows in upper right, used for showing the media query sizes
@mixin alert($statement) {
	content: $statement;
	right: .3em;
	position: fixed;
	top: .3em;
	z-index: 999;
	background: lighten($header-bkg, 20%);
	padding: .2em 1.5em;
	@include rounded(2em);
	font-family: helvetica, sans-serif;
	font-size: 12px;
}

// accessible hidden content -- http://shoptalkshow.com/episodes/058-with-derek-featherstone/  (skip to 32 minutes)
@mixin hide() {
	display: none;
}

// unhide accessible content
@mixin unhide() {
	position: static;
}

// SASS breakpoint mixin. Read: http://web-design-weekly.com/2013/05/12/handy-sass-mixins/

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: em(980)) { @content; }
  }
  @else if $point == medium {
    @media (min-width: em(650)) { @content; }
  }
}

// Enables using of CSS3 value `rem`
// http://drublic.de/blog/rem-fallback-sass-less/

@mixin x-rem($property, $values, $main-font-size: 16px) {

	// Empty list for all values in px
	$px-values: ();
	$rem-values: ();

	// Iterate over entries
	@each $value in $values {

		// If the value is zero, return 0
		@if $value == 0 or type_of($value) != number {
			$px-values: append($px-values, $value);
			$rem-values: append($rem-values, $value);

		// If the value is not zero, convert it from px to rem
		} @else {
			$px-values: append($px-values, ($value * $main-font-size) );
			$rem-values: append($rem-values, #{$value}rem);
		}
	}

	// Return the property and its list of converted values
	#{$property}: #{$px-values};
	#{$property}: #{$rem-values};
}

// @include x-rem(font-size, 1.3);



