/*

GENERAL MIXINS: This project uses Bourbon so you can use any of the Bourbon mixins
http://bourbon.io/

- utility
- setting breakpoints

*/



/* ::: HIDING CONTENT ::::::::::::::::::::::::::::::::::::::::: */

	// http://shoptalkshow.com/episodes/058-with-derek-featherstone/  (skip to 32 minutes)
	@mixin hide() {
		display: none;
	}

	// unhide accessible content
	@mixin unhide() {
		position: static;
	}



/* ::: BREAKPOINTS ::::::::::::::::::::::::::::::::::::::::: */

	// http://web-design-weekly.com/2013/05/12/handy-sass-mixins/

	@mixin breakpoint($point) {
	  @if $point == large {
	    @media (min-width: em(980)) { @content; }
	  }
	  @else if $point == medium {
	    @media (min-width: em(650)) { @content; }
	  }
	}


