/*
MIXINS
*/

/* ::: BREAKPOINT MIXIN ::::::::::::::::::::::::::::::::::::::::: */
/* by real life cat: Kitty Giraudel  */
/* https: //www.sitepoint.com/managing-responsive-breakpoints-sass/ */

	// you can add as many as you like with max or min...
	$breakpoints: (
		'mini' : (max-width: 300px),
		'mobile' : (max-width: 375px),
		'tablet-port' : (min-width: 744px),
		'tablet-land' : (min-width: 1024px),
		'desktop-sm' : (min-width: 1200px),
		'desktop' : (min-width: 1440px),
		'mega' : (min-width: 1600px),
		'beyond' : (min-width: 1920px)
	);