/*

THIS SHEET IS FOR SITEWIDE STYLES RELATED TO:

- Layout
- Applying your color definitions from colors.scss
- Applying your typography definitions from type.scss

*/

/* ::: GENERAL ::::::::::::::::::::::::::::::::: */

	// Bourbon Neat Grid Settings -- NOT SURE IF THESE ARE NECESSARY
	.row {
		padding: 0 4%; // default padding to keep the content from touching the edge of the site (this may cause issues, keep an eye on it)
	}

	// Customize the look of selected text -- feel free to change the colors
	::-moz-selection { // Mozilla
       background-color: $black;
       color: $white;
	}
	::selection { // Safari
       background-color: $black;
       color: $white;
	}
	


/* ::: SITE HEADER ::::::::::::::::::::::::::::::::: */

	.site-header {
		h1 { // this h1 is just for SEO and keeping a good HTML5 document model
			@include hide(); 
		}
		.site-title {

		}
	}



/* ::: MAIN NAV ::::::::::::::::::::::::::::::::: */
	
	.nav-main {
		a {
			text-decoration: none;
			display: inline-block;
			line-height: 1.8em;
			padding: 1em 2em;
			&:link, &:visited {
				// style the links
			}
			&:hover, &:active, &:focus {
				// style the links
			}
		}
		/* Down States */
		.current_page_item a {
		}
	}



/* ::: COMMENTS ::::::::::::::::::::::::::::::::: */
	
	/*--- If you use the Facebook comments plugin this makes it responsive, if not trash this---*/
	/*--- http://wordpress.org/plugins/facebook-comments-plugin/ ---*/
	.fb-comments, .fb-comments span, .fb-comments iframe {
		width: 100% !important;
	}
	.fb-comments { margin-top: 2em; }

	
	
/* ::: SIDEBAR: MAIN ::::::::::::::::::::::::::::::::: */

	.sidebar-main {
		padding-bottom: 3em;
		ul {
			list-style-position: inside;
		}
	}
	
	

/* ::: FOOTER ::::::::::::::::::::::::::::::::: */

	.footer {
		clear: both;
		
		/* Credit */
		.credit {
			h1 {
			font-size: 1em;				
			}
		}
	}




