//::: LOAD FONTS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	@include font-face(StMarieThin, './fonts/StMarie-Thin-webfont', normal);


//::: DEFINE FONT FAMILIES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	@mixin monospace() {
		font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	}

	@mixin serif() {
		font-family: Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", times, serif; // cambria, cochin ??
	}

	@mixin sans() {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
	}


/*--- Display Fonts ~ try to use one or two at max in your design. this one is here for reference---*/

	@mixin stmarie() {
		font-family: 'StMarieThin', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', helvetica, sans-serif;
		font-weight: normal;
	}


//::: APPLY FONT STYLES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

/*--- Base Font Settings ---*/
	body {
		@include sans();
		font-size: 14px; // base font size
		font-weight: 300;
		line-height: 1.5;
	}

/*--- Links ---*/

	a:link, a:visited { color: $link-default-off; text-decoration: underline; }
	a:hover, a:active, a:focus { color: $link-default-on; text-decoration: none; }


/*--- Headings ---*/

	h1, h2, h3, h4, h5, h6 {
		@include stmarie(); // you'll want to replace this with your own font
		font-weight: 500;
	}

	h1 { font-size: 2.5em; }
	h2 { font-size: 1.7em; }





