//::: LOAD FONTS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	@import "../fonts/condensed.scss";



//::: DEFINE FONT FAMILIES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// These mixins makes it easy to add font to elements in your stylesheets
	
	@mixin sans() {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
	}

	@mixin serif() {
		font-family: Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", times, serif; // cambria, cochin ??
	}

	@mixin monospace() {
		font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	}

	// our icon font
	@mixin condensed() {
		font-family: 'condensed';
		font-weight: normal;
	}
	// The class makes it easy to add the font to elements in the HTML
	.icon-font {
		@include condensed();
	}



//::: REUSABLE FONT SIZES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	@mixin big-type() {
		font-size: 1.6em;
		@include breakpoint(mini) {
			font-size: 1.8em;
		}
		@include breakpoint(medium) {
			font-size: 2em;
		}
		@include breakpoint(large) {
			font-size: 2.8em;
		}
	}

	@mixin medium-type() {
		font-size: 1.2em;
		@include breakpoint(mini) {
			font-size: 1.4em;
		}
		@include breakpoint(medium) {
			font-size: 1.6em;
		}
		@include breakpoint(large) {
			font-size: 1.8em;
		}
	}

	@mixin small-type() {
		font-size: .8em;
		@include breakpoint(mini) {
			font-size: .9em;
		}
		@include breakpoint(medium) {
			font-size: 1em;
		}
		@include breakpoint(large) {
			font-size: 1.1em;
		}
	}




//::: BASE FONT SETTINGS ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

	body {
		@include sans();
		font-size: 14px; // base font size
		letter-spacing: .01em; // most fonts look better opened up just a little, you can adjust the value
		@include breakpoint(medium) {
			font-size: 16px;
		}
		font-weight: 300;
		line-height: 1.5;
	}

	// main content area
	.content-main em {
		font-style: italic;
	}
	strong {
		font-weight: 900;
	}
	.content-main p {
		margin-bottom: 1.5em;
	}


/*--- Links ---*/

	a:link, a:visited { text-decoration: underline; }
	a:hover, a:active, a:focus { text-decoration: none; }


/*--- Headings ---*/

	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
		clear: both; // this is needed for headings between floated content areas
	}

	// add default sizes
	h1 {
		@include big-type();
	}
	h2 {
		@include medium-type();
	}
	h2 {
		@include small-type();
	}





